:root {
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#App {
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto 50px;
}

header {
  background-color: gray;
}

footer {
  background-color: gray;
}
